@charset "utf-8";
// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

// Set your brand colors
// https://coolors.co/493132-313b72-59a5d8-efe9f4-983628
$blue: #313b72;
$red: #983628;

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #493132;
$beige-light: #d0d1cd;
$beige-lighter: #efe9f4;
$cyan: #59a5d8;

// Update Bulma's global variables
$family-sans-serif: "Lora", sans-serif;
$primary: $blue;
$grey-dark: $brown;
$grey-light: $beige-light;
$link: $red;
$link-hover: $blue;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
$input-shadow: none;

// Timeline variables
$timeline-marker-background-color: $primary;
$timeline-marker-color: $primary;
$timeline-line-color: $primary;
$timeline-marker-border: 0.1em solid $primary;
$timeline-line: 0.1rem solid $primary;

$pagination-ellipsis-color: $grey-dark;

$title-line-height: 1.3;

// Import all
@import "~bulma/bulma.sass";

// TODO Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/grid/_all.sass";
// @import "../node_modules/bulma/sass/components/_all.sass";
// @import "../node_modules/bulma/sass/elements/_all.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/helpers/_all.sass";
// @import "../node_modules/bulma/sass/layout/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

// Bulma extensions
@import "~bulma-timeline";

.min-height-temp-padding {
  min-height: 80vh;
}

.is-underlined {
  text-decoration: underline;
}

.no-pointer {
  pointer-events: none;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  &.is-republican {
    background-color: #ec3a38;
  }
  &.is-democrat {
    background-color: #0066cb;
  }
}

.is-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.tags a {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tag:hover {
    background: $link-hover;
    color: $white;
  }
}

.max-width-full {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.tag.long-tag {
  white-space: pre-wrap;
  height: fit-content;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.tag.truncate-tag {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ellipsis;
  display: block;
  padding-top: 0.2rem;
}

img.committee-logo {
  max-height: 10rem;
}

img.about-page-img {
  max-height: 20rem;
  object-fit: contain;
  border-radius: 10px;
}

.pagination {
  a {
    background: white;
  }
  span.pagination-ellipses {
    color: black !important;
  }
}

// Skeleton Loader
// From https://www.freecodecamp.org/news/how-to-build-skeleton-screens-using-css-for-better-user-experience/
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.card__header .skeleton-text {
  height: $title-size;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}

.search-filters {
  left: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5),
    0 0px 0 1px rgba(10, 10, 10, 0.1);
}

.highlighted {
  border-radius: 10px;
  display: inline-block;
  padding: 0.05em 0.25rem;
  background: #ffc107;
  color: #ffffff;
}
